<footer class="bg-primary">
    <div class="container d-flex py-3">
        <div class="col-md mx-auto my-4">
            <h4 class="text-white fw-bold mb-5">Siscon Contabilidade</h4>

            <div class="text-white fw-light my-4">
                <p class="mb-1">Av. Dr. Alexandre Rasgulaeff, 752 | Jardim Alvorada</p>
                <p class="mb-1">Maringá - PR, 87033-080</p>
                <p class="mb-1">Contador responsável: Claudemir Aparecido Matiusso</p>
                <p class="mb-1">CRC PR 042270/O-5</p>
                <p class="mb-1">Escritório CRC PR oo5920/o5</p>
            </div>

            <div class="text-white fw-light my-4">
                <p class="mb-1">siscon@siscon.cnt.br</p>
                <p class="mb-1">(44) 3026-6080</p>
            </div>
        </div>

        <div class="col-md mx-auto d-flex flex-column justify-content-center">
            <label for="exampleInputEmail1" class="form-label fw-light text-white">Formulário de Inscrição</label>
            <div class="d-flex">
                <input type="email" class="border-bottom form-control text-white bg-primary mx-2" id="exampleInputEmail1" aria-describedby="emailHelp">
                <button class="btn btn-primary bg-white text-primary px-3 py-1 mx-2" type="submit">Enviar</button>
            </div>
        </div>
    </div>

    <div class="fixed-bottom end-0 me-5 mb-4" style="left: unset">
        <a href="https://api.whatsapp.com/send?phone=554430266080" target="_blank" rel="noopener">
            <img src="{{ asset('/assets/images/whatsAppButton.webp') }}" alt="link to whatsApp">
        </a>
    </div>
</footer>