<a href="https://www.instagram.com/siscon_contabilidade/" target="_blank" rel="noopener" class="mx-2 text-dark text-decoration-none"><i class="fa-brands fa-instagram"></i></a>
<a href="https://www.facebook.com/SISCONTABILIDADE" target="_blank" rel="noopener" class="mx-2 text-dark text-decoration-none"><i class="fa-brands fa-facebook-f"></i></a>
<a href="https://goo.gl/maps/fcqZanz6gCUBZrB36" target="_blank" rel="noopener" class="mx-2 text-dark text-decoration-none"><i class="fa-solid fa-location-dot"></i></a>