<a href="#" class="mx-2 text-dark text-decoration-none"><i class="fa-brands fa-instagram"></i></a>
<a href="#" class="mx-2 text-dark text-decoration-none"><i class="fa-brands fa-facebook-f"></i></a>
<a href="#" class="mx-2 text-dark text-decoration-none"><i class="fa-solid fa-location-dot"></i></a>